/* .form-group{
  margin-bottom:18px;
}

.form-label{
  display:block;

  margin-bottom:8px;

  color:var(--muted2);

  font-size:12px;

  letter-spacing:1px;
}

.form-input{
  width:100%;

  padding:14px;

  background:var(--card2);

  border:1px solid var(--border);

  border-radius:14px;

  color:white;
}

.form-input:focus{
  outline:none;

  border-color:var(--gold);
} */